@import "lib/colors";

.Homepage {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1220px) 1fr;

  position: relative;

  .hero-section {
    grid-column: 1/4;
    // display: grid;
    // grid-template-columns: 1fr minmax(0, 1220px) 1fr;
    // background-color: $b-lilac-98;
    // background: linear-gradient(150deg, $b-lilac-dark-bg 0%, $b-lilac-dark-bg 63%, $b-lilac-light-bg 100%);
    // margin-top:-80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    background:
    radial-gradient(circle at 18% 20%, #6b97a7, transparent 35%),
    linear-gradient(135deg, #1c3237, #355d68);

    .container {
      // grid-column: 1/4;
      // margin: 80px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-width: 1520px;
    }
    .illustration {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      span,
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      img {
        mask-image: linear-gradient(
          to top,
          transparent 0%,
          black 12%,
          black 20%
        );
      }
      .pixel-girl {
        position: absolute;
        top: 550px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 60px;
        z-index: 10;
      }
    }
    .hero-title {
      position: absolute;
      top: 188px;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: center;
      span {
        font-family: "Fredericka the Great", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 7em;
        letter-spacing: 18px;
        line-height: 1;
        text-align: center;
      }
    }
    // .intro {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   align-items: center;
    //   width: 400px;
    // }
    // .label {
    //   color: $b-neutral-40;
    //   font-weight: 300;
    // }
    // .intro-title {
    //   display: flex;
    //   flex-direction: column;
    // }
    // .cta-section {
    //   width: 100%;
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   align-items: center;
    //   margin-top: 40px;
    // }
  }

  .about-section {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    .container {
      // grid-column: 2/3;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 120px 0;
      max-width: unset;
      // .left-side {
      //   width: 45%;
      //   .cta-link {
      //     display: flex;
      //     flex-direction: row;
      //     align-items: center;
      //     margin: 20px 0;
      //   }
      // }
      // .right-side {
      //   img {
      //     opacity: 0.8;
      //     transition: 0.2s ease-in-out;
      //     &:hover {
      //       opacity: 1;
      //     }
      //   }
      // }
    }
    .scribble-circle {
      position: relative;
      display: inline-block;
    }

    .scribble-circle::after {
      content: "";
      position: absolute;
      left: -6%;
      right: -6%;
      top: 5%;
      bottom: -8%;
      border: 2px solid #c4a35a;
      border-radius: 50% 45% 55% 50% / 55% 50% 50% 45%;
      transform: rotate(-2deg);
      pointer-events: none;
    }
  }

  .portfolio-section {
    grid-column: 2/3;
    display: grid;
    // grid-template-columns: 1fr minmax(0, 960px) 1fr;
    padding: 40px 0 60px 0;
    // background-color: $b-lilac-98;
    // padding-top: 300px;
    // margin-top: -240px;
    //  background: linear-gradient(18deg, $b-lilac-dark-bg 0%, $b-lilac-dark-bg 83%, $b-lilac-light-bg 100%);
    .container {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .section-heading {
        h1 {
          font-size: 58px;
          line-height: 68px;
          font-weight: 500;
        }
      }
      .content {
        margin-top: 52px;
        .row {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 16px 0;
          div:first-child {
            margin-right: 30px;
            img:hover {
              box-shadow: -3px 1px 8px rgba(32, 32, 32, 0.1);
            }
          }
          .project img {
            opacity: 0.9;
            border-radius: 16px;
            transition: all 0.2s ease-in;
            &:hover {
              opacity: 1;
              box-shadow: 3px -1px 8px rgba(32, 32, 32, 0.1);
            }
          }
        }
      }
      .behance {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        p {
          text-align: center;
        }
        button {
          margin-top: 20px;
        }
      }
    }
  }

  .company-logos {
    grid-column: 1/4;
    // display: grid;
    // grid-template-columns: 1fr minmax(0, 1220px) 1fr;
    border-top:1.5px solid $b-neutral-95;
    .container {
      margin: 60px 0;
      // grid-column: 1/4;
      max-width: unset;
    }
    .title h1 {
      font-size: 22px;
      font-weight: 500;
      color: $b-neutral-40;
      text-align: center;
      text-transform: uppercase;
    }
    .logos {
      // margin-top: 40px;
      // display: flex;
      // flex-direction: row;
      // justify-content: space-between;
      // align-items: center;
      .logo {
        min-width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 0px 80px;
      }
    }
  }

  .services-section {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1220px) 1fr;
    background-color: $b-blue-20;
    // .container {
    //   grid-column: 2/3;
    //   margin: 60px 0 80px 0;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: flex-start;
    // }
    // .body-text {
    //   width: 95%;
    //   margin-bottom: 40px;
    // }
    // .services {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   margin-top: 48px;
    //   .service {
    //     background: $b-blue-95;
    //     padding: 0 40px;
    //     margin-bottom: 48px;
    //     transition: 0.8s ease-in-out;
    //     border-radius: 8px;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     align-items: center;
    //     img {
    //       min-height: 260px;
    //     }
    //     .card-details {
    //       width: 50%;
    //     }
    //     &:hover {
    //       background: $b-blue-90;
    //     }
    //   }
    // }
    #services{
      grid-column: 2/3;
    }
    .case-studies{
      .case-study-card {
          display: flex;
          flex-direction: column;

          margin: 10px 0 10px 0;
          padding: 10px;
          width: 100%;
          min-height: 550px;
          border-radius: 12px;
          background-color: #fdfbff;
          border: 1px solid $b-lilac-90;
          transition: 0.2s ease-in-out;
          &:hover {
            background-color: $b-lilac-95;
          }
          &:first-child {
            margin-right: 40px;
          }

          .image {
            padding: 20px 0;
            border-radius: 12px;
            background-color: $b-lilac-95;
            min-height: 400px;
            max-height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s ease-in-out;
            &:hover {
              background-color: #fdfbff;
            }
            span {
              display: flex !important;
              justify-content: center;
              align-items: center;
            }
            img {
              width: 280px;
              max-height: 380px;
              object-fit: contain;
            }
          }
          .title {
            color: $b-neutral-20;
            font-size: 18px;
            margin: 10px 0 10px 0;
            letter-spacing: -0.7px;
            padding: 0 6px;
            transition: 0.2s ease-in-out;
            &:hover {
              text-decoration: underline;
            }
          }
          .tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            margin-top: 5px;
            .tag {
              background-color: #fff;
              color: $b-neutral-40;
              font-size: 12px;
              letter-spacing: -0.5px;
              padding: 8px 16px;
              border-radius: 20px;
              margin: 2px 1px;
              border: 0.5px solid #f1f1f1;
            }
          }
        }
    }
  }

  .page-break-section {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;
    margin-top: 70px;
    z-index: 10;
    .container {
      grid-column: 1/3;
    }
  }

  .price-section {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;
    margin-top: 50px;
    .container {
      grid-column: 2/3;
      padding: 80px 0;
    }
    .models {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .model {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 520px;
        border: 1px solid $b-sec-90;
        border-radius: 4px;

        .top-frame {
          text-align: center;
          padding: 20px;
          color: $b-blue-98;
          width: 100%;
        }
      }
      .basic-model .top-frame {
        background-color: $b-yellow-30;
      }
      .recommended-model {
        border: 2px solid $b-blue-40;
        margin-top: -120px;
        transition: 0.6s linear;
        &:hover {
          margin-top: -180px;
          background-color: $b-blue-98;
        }
      }
      .basic-model .model-content,
      .recommended-model .model-content {
        text-align: center;
        padding: 0 20px;
        h4 {
          font-size: 20px;
          line-height: 28px;
          font-weight: 700;
          color: $b-blue-20;
          margin: 0;
          margin-top: 40px;
          margin-bottom: 6px;
        }
        h6 {
          font-weight: 300;
          font-size: 14px;
          line-height: 20px;
          color: $b-blue-50;
          margin: 0;
          margin-bottom: 18px;
        }
        p {
          font-weight: 300;
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 48px;
        }
      }
      .basic-model {
        margin-top: 220px;
        transition: 0.6s linear;
        &:hover {
          margin-top: 160px;
          border-radius: 4px;
          background-color: $b-yellow-98;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .Homepage {
    .hero-section {
      .hero-title {
        span {
          font-size: 82px;
        }
      }
    }
  }
}
// TABLET VIEW
@media (max-width: 980px) {
  .Homepage {
    .hero-section {
      .container {
        max-width: unset;
      }
      .illustration {
        .pixel-girl {
          top: 560px;
        }
      }
    }
    // .company-logos {
    //   padding-left: 16px;
    //   padding-right: 16px;
    // }
    .about-section {
      .container {
        padding-left: 16px;
        padding-right: 16px;
        align-items: center;
        .left-side {
          width: 100%;
          margin-right: 30px;
        }
        .right-side {
          img {
            opacity: 100%;
            width: 480px;
          }
        }
      }
    }
    .services-section {
      .container {
        padding-left: 16px;
        padding-right: 16px;
      }
      .services {
        .service {
          display: flex;
          flex-flow: column wrap;
          padding: 30px 20px;
          .card-details {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h4,
            p {
              text-align: center;
            }
          }
          img {
            min-height: unset;
            width: 100%;
            max-width: 260px;
          }
        }
      }
    }
    .portfolio-section {
      padding: 60px 48px 60px 48px;
      .container {
        .content {
          margin-top: 30px;
        }
      }
    }
    .price-section {
      .container {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
}
// MOBILE VIEW
@media (max-width: 580px) {
  .Homepage {
    .hero-section {
      .container {
        max-width: unset;
      }
      .hero-title {
        span {
          font-size: 60px;
        }
      }
      .illustration {
        .pixel-girl {
          top: 560px;
        }
      }
    }
    // .company-logos {
    //   .container {
    //     margin: 60px 0;
    //   }
    //   .logos {
    //     justify-content: center;
    //     margin-top: 30px;
    //     .logo {
    //       min-width: unset;
    //       padding: 20px;
    //     }
    //   }
    // }
    .about-section {
      .container {
        flex-direction: column-reverse;
        justify-content: center;
        margin: 40px 10px;
        .section-label {
          display: none;
        }
        .left-side {
          margin: 0;
          margin-top: 40px;
          text-align: center;
          .cta-link {
            justify-content: center;
          }
          .description {
            p {
              margin: 20px;
            }
            h1 {
              font-size: 52px;
              line-height: 60px;
            }
          }
        }
        .right-side {
          display: none;
          margin: 0;
          margin-top: 40px;
          img {
            width: 100%;
          }
        }
      }
    }
    .services-section {
      .container {
        margin: 60px 0;
      }
      .section-label {
        display: none;
      }
      .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .body-text,
        h1 {
          text-align: center;
        }
      }
    }
    .page-break-section {
      display: none;
    }
    .portfolio-section {
      padding: 80px 0 80px 0;
      .container {
        padding-right: 24px;
        padding-left: 24px;
        .content {
          margin-top: 30px;
          .row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div:first-child {
              margin: 0;
              margin-bottom: 24px;
            }
            .project img {
              width: 320px;
              opacity: 1;
            }
          }
        }
      }
    }
    .price-section {
      .container {
        padding: 40px 24px;
        .models {
          margin-top: 40px;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          .model {
            width: 100%;
            min-height: none;
            height: 100%;
            margin-top: 10px;
          }
          .basic-model {
            margin-top: 0px;
            margin-top: 20px;
            background-color: $b-yellow-98;
          }
          .recommended-model {
            margin-top: 0px;
            margin-top: 20px;
            background-color: $b-blue-98;
          }
        }
      }
    }
  }
}
