@import "lib/colors";

.Homepage {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1088px) 1fr;

  position: relative;

  .hero-container{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;
    background-image: url('/assets/svg/HeroSection/Illustration.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1090px;
  }

  .hero-section {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;

    .container {
      grid-column: 2/3;
      margin: 60px;
    }
    .intro {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .intro-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 620px;
      text-align: center;
      h1 {
        font-weight: 400;
        font-size: 48px;
        line-height: 68px;
        color: $b-yellow-50;
      }
      h2 {
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
      }
      .cta-buttons {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        button.link-button{
          margin-left: 20px;
        }
      }
    }
  }

  .company-logos{
    grid-column: 2/3;
    margin: 80px 0 60px 0;
    .title h1{
      font-size:16px;
      font-weight: 400;
      color:$b-blue-20;
      text-align: center;
    }
    .logos{
      margin-top:50px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      
      .logo{
        min-width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .about-section {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;
    background-color: $b-sec-98;
    .container {
      grid-column: 2/3;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 110px 0;
      .left-side{
        width: 40%;
        .description h1{
          font-size: 38px;
          line-height: 44px;
        }
        .description p{
          font-weight: 300;
          margin-bottom: 40px;
        }
        .cta-link{
          display: flex;
          flex-direction: row;
          align-items: center;
          .link-button{
            margin-right: 5px;
          }
        }
      }
      .right-side{
        img{
          opacity: 75%;
          transition: 0.4s ease-in-out;
          &:hover{
            opacity: 100%;
          }
        }
      }
    }
  }

  .services-section {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;
    .container {
      grid-column: 2/3;
      margin: 80px 0;
    }
    .description{
      width: 85%;
    }
    .services{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 48px;
      .service{
        background: linear-gradient(90deg, $b-lilac-30 0%, $b-lilac-70 100%);
        padding: 28px 20px;
        transition: 0.8s ease-in-out;
        max-width: 320px;
        min-height: 330px;
        max-height: 330px;
        .card-label{
          display: flex;
          align-items: center;
          .chevrons{
            margin-right: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            svg{
              stroke-width: 60px;
              height: 18px;
              stroke: $b-yellow-70;
            }
          }
          &-text{
            font-size: 18px;
            line-height: 24px;
            font-weight: 100;
            color: $b-sec-98;
          }
        }
        .card-details{
          h4{
            font-size: 20px;
            line-height: 28px;
            font-weight: 400;
            color: $b-lilac-98;
            text-transform: capitalize;
          }
          p{
            color: $b-lilac-98;
          }
        }
        .cta{
          color: $b-lilac-98;
          font-weight: 600;
          display: flex;
          flex-direction: row;
          align-items: center;
          &:hover{
            color: $b-blue-30;
          }
        }
        .link-button span{
          margin-right: 5px;
          font-weight: 400;
        }
        &:hover{
          background: linear-gradient(90deg, $b-lilac-70 0%, $b-lilac-30 100%);
          max-width: 330px;
        }
      }
      .icon-link{
        svg{
          color: $b-yellow-40;
          font-size: 40px;
          transition: 0.4s ease-in;
          &:hover{
          font-size: 46px;
          color: $b-yellow-60;
        }
        }
      }
    }
  }

  .page-break-section {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;
    margin-top: 70px;
    z-index: 10;
    .container {
      grid-column: 1/3;
    }

  }

  .portfolio-section {
    z-index: 0;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;
    background-color: $b-sec-98;
    padding-top: 300px;
    margin-top: -240px;
    .container {
      grid-column: 2/3;
      .content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: -40px;
        .illustrations{
          padding: 0 20px;
          .top-image{
            width: 100%;
            margin-bottom: 8px;
            svg{
              width: 100%;
            }

          }
          .bottom-images{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
        }
        .portfolio-list{
          img{
            width: 760px;
            object-fit: cover;
            object-position: -250px 100px;
            transition: 0.8s ease-in-out;
            opacity: 0.9;
            &:hover{
              width: 840px;
              object-position: -130px 80px;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .price-section {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;
    margin-top: 50px;
    .container {
      grid-column: 2/3;
      padding: 80px 0;
    }
    .models{
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .model{
        width: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 520px;
        border: 1px solid $b-sec-90;
        border-radius: 4px;

        .top-frame{
          text-align: center;
          padding: 20px;
          color: $b-blue-98;
          width: 100%;
        }
        
      }
      .basic-model .top-frame{
        background-color: $b-yellow-30;
      }
      .recommended-model{
        border: 2px solid $b-blue-40;
        margin-top: -120px;
        transition: 0.6s linear;
        &:hover{
          margin-top: -180px;
          background-color: $b-blue-98;
        }
      }
      .basic-model .model-content, .recommended-model .model-content{
          text-align: center;
          padding: 0 20px;
          h4{
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
            color: $b-blue-20;
            margin: 0;
            margin-top: 40px;
            margin-bottom: 6px;
          }
          h6{
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            color: $b-blue-50;
            margin: 0;
            margin-bottom: 18px;
          }
          p{
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 48px;
          }
      }
      .basic-model{
        margin-top:220px;
        transition: 0.6s linear;
        &:hover{
          margin-top: 160px;
          border-radius: 4px;
          background-color: $b-yellow-98;
        }
      }
    }
  }
}

@keyframes backgroundWave {
  0% {
    background: linear-gradient(
        221.1deg,
        rgba(255, 253, 253, 0.2) 66.13%,
        rgba(234, 189, 30, 0.2) 102.91%
      ),
      linear-gradient(
        172.93deg,
        rgba(255, 252, 252, 0.2) 65.13%,
        rgba(148, 25, 223, 0.2) 92.28%
      );
  }
  30% {
    background: linear-gradient(
        196deg,
        rgba(255, 251.64, 251.64, 0.2) 71%,
        rgba(147.72, 24.66, 223.15, 0.2) 100%
      ),
      linear-gradient(
        156deg,
        rgba(255, 252.81, 252.81, 0.2) 70%,
        rgba(234, 189, 30, 0.2) 96%
      );
  }
  50% {
    background: linear-gradient(
        203deg,
        rgba(255, 251.64, 251.64, 0.2) 71%,
        rgba(147.72, 24.66, 223.15, 0.2) 100%
      ),
      linear-gradient(
        147deg,
        rgba(255, 252.81, 252.81, 0.2) 70%,
        rgba(234, 189, 30, 0.2) 96%
      );
  }
  70% {
    background: linear-gradient(
        221.1deg,
        rgba(255, 253, 253, 0.2) 66.13%,
        rgba(234, 189, 30, 0.2) 102.91%
      ),
      linear-gradient(
        172.93deg,
        rgba(255, 252, 252, 0.2) 65.13%,
        rgba(148, 25, 223, 0.2) 92.28%
      );
  }
  90% {
    background: linear-gradient(
        196deg,
        rgba(255, 251.64, 251.64, 0.2) 71%,
        rgba(147.72, 24.66, 223.15, 0.2) 100%
      ),
      linear-gradient(
        156deg,
        rgba(255, 252.81, 252.81, 0.2) 70%,
        rgba(234, 189, 30, 0.2) 96%
      );
  }
  100% {
    background: linear-gradient(
        221.1deg,
        rgba(255, 253, 253, 0.2) 66.13%,
        rgba(234, 189, 30, 0.2) 102.91%
      ),
      linear-gradient(
        172.93deg,
        rgba(255, 252, 252, 0.2) 65.13%,
        rgba(148, 25, 223, 0.2) 92.28%
      );
  }
}

// TABLET VIEW
@media (max-width: 980px) {
    .Homepage {
    .about-section {
        overflow-x: hidden;
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 70px 0;
        padding-left: 16px;
        padding-right: 16px;
      }
      .paragraph-text {
        margin-top: 40px;
      }
      .image-div {
        margin-left: -80px;
      }
    }
    .concepts-section {
        overflow-x: hidden;
        .list{
            text-align: center;
        }
    }
    .solutions-section {
      .container {
        .text-div {
          margin-left: 16px;
        }
      }
    }
    .services-section {
      .container {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
      }
      .services {
        .service {
          min-width: 220px;
          padding-left: 20px;
        }
      }
      .cta {
        .cta-buttons {
          width: 30%;
          button{
            width: 100px;
          }
        }
      }
    }
    .free-section{
        overflow-x: hidden;
    }
  }
}
// MOBILE VIEW
@media (max-width: 580px) {
  .Homepage {
    .about-section {
        overflow-x: hidden;
      .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 70px 0;
        padding-left: 16px;
        padding-right: 16px;
      }
      .paragraph-text {
        margin-top: 40px;
      }
      .image-div {
        margin-left: -100px;
      }
    }
    .concepts-section {
      .title {
        padding: 0 16px;
      }
      .illustrations {
        display: flex;
        flex-direction: column;
        .illustration {
          margin-bottom: 60px;
        }
        .left.illustration {
          margin-right: 0;
        }
        .right.illustration {
          margin-left: 0;
        }
      }
      .list{
        li{
            font-size: 18px;
        }
      }
    }
    .solutions-section {
      .container {
        .text-div {
          margin-left: 16px;
        }
      }
    }
    .services-section {
      .container {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
      }
      .services {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        .service {
          min-width: 220px;
          max-width: 220px;
          padding-left: 20px;
        }
      }
      .cta {
        .cta-buttons {
          width: 60%;
          button{
            width: 100px;
          }
        }
      }
    }
    .free-section{
        overflow-x: hidden;
    }
  }
}
