@import url("https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans&family=Rosario&family=Rubik+Moonrocks&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "lib/colors";

@import "Homepage.scss";

@import "Aboutpage.scss";

@import "Servicespage.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  height: auto;
  overflow-x: hidden;
  color: $b-yellow-20;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  text-decoration-color: none;
}

// COMMON
.purple-text-dark {
  color: $b-lilac-30;
}
.purple-text{
  color: $b-lilac-30;
}
p.paragraph-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-900 {
  font-weight: 900;
}
.font-weight-300 {
  font-weight: 300;
}
.section-label{
  font-weight: 300;
  color: $b-blue-30;
  font-size: 14px;
  text-transform: uppercase;
}
.yellow-text{
  color: $b-yellow-50;
}
.heading-text{
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
}
.underline{
  text-decoration: underline;
}
.blue-accent-background{
  background-color: $b-blue-40;
}
.uppercase{
  text-transform: uppercase;
}

// COMPONENTS
.primary-button{
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  background-color: $b-lilac-40;
  color: $b-lilac-98;
  border-radius:8px;
  outline: none;
  border: none;
  &:hover{
    cursor: pointer;
    background-color: $b-yellow-40;
    color: $b-yellow-98;
  }
}
.secondary-button{
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: $b-sec-40;
  color: $b-sec-98;
  border-radius:8px;
  outline: none;
  border: none;
  &:hover{
    cursor: pointer;
    background-color: $b-yellow-40;
    color: $b-yellow-98;
  }
}
.link-button{
  color: $b-lilac-10;
  font-size: 16px;
  font-weight: 400;
  padding: 14px 2px;
  transition: all 0.3s ease-in;
  outline: none;
  border: none;
  background-color: transparent;
  &:hover{
    color: $b-blue-30;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
  }
}

// PAGES
.Page {
  margin:-9px;

  .Topbar {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;
    border-bottom: 0.8px solid $b-lilac-95;
    padding: 10px 0px;
    .container {
      grid-column: 2/3;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .logo-section{
        .logo-div{
          width: 80px;
          height: 80px;
          background-image: url('/assets/svg/Logo/Default.svg');
          background-size: 80px;
          background-repeat: no-repeat;
          transition: 0.4s ease-in-out;
          &:hover{
            background-image: url('/assets/svg/Logo/Hovered Variant.svg');
          }
        }
      }
      .navlinks{
        width: 42%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .navlink{
          color: $b-lilac-20;
          font-weight: 400;
          font-size: 16px;
          transition: all 0.3s ease-in;
          &:hover{
            color: $b-blue-30;
            text-decoration: underline;
            font-size: 17px;
          }
        }
      }
    }
  }
  .contact-details{
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;
    .container{
      grid-column: 2/3;
      padding: 80px 0;
      .details{
        h4{
          font-size: 28px;
          font-weight: 400;
          line-height: 28px;
          color: $b-sec-80;
          margin: 0;
          margin-top: 40px;
          margin-bottom: 14px;
        }
        p{
          font-weight: 300;
          font-size: 16px;
          margin: 0;
          margin-top: 2px;
        }
        h6{
          color: $b-sec-70;
          font-size: 18px;
          font-weight: 300;
          margin-top: 18px;
          text-decoration: underline;
        }
      }
      .icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
          margin-right: 30px;
          transition: 0.6s ease-in-out;
          &:hover{
            width: 35px;
          }
        }
      }
    }
  }

  .Footer{
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;

    background-color: $b-yellow-95;
    .container{
      grid-column: 2/3;
      width: 100%;

      padding: 100px 0;
    }
    .title{
      font-size: 78px;
      color: $b-lilac-60;
      font-weight: 400;
      line-height: 86px;
      animation: footerFont infinite 5s;
    }
    .title.right{
      display: flex;
      justify-content: flex-end;
    }
    .center{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 50px 0;
      .email{
        font-size: 19px;
        color: $b-black-1;
        text-decoration: underline;
        transition: 0.6s ease-in-out;
        &:hover{
          color: $b-black-0;
          font-size: 20.5px;
        }
      }
      .tagline{
        font-size: 20px;
        color: $b-black-1;
        font-weight: 300;
      }
      img{
        animation: aliveFooter infinite 5s;
      }
    }
  }
}

// TABLET VIEW
@media (max-width:980px){
  .Page{
    .Topbar{
      padding-left: 16px;
      padding-right: 16px;
      .container{
        .logo-section{
          width: 100%;
        }
      .navlinks{
        width: 100%;
      }
    }
    }
    .contact-details{
      .container{
        padding-left: 16px;
        padding-right: 16px;
      }
    }
    .Footer{
      .container{
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
}

// MOBILE VIEW
@media (max-width: 580px) {
.Page{
  .Topbar{
    .container{
      .navlinks{
        .navlink{
          margin-left: 10px;
        }
      }
    }
  }
  .Footer{
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 60px 0;
    }
    .center{
      flex-direction: column-reverse;
      justify-content: center;
      align-self: center;
      .tagline{
        margin-bottom: 20px;
      }
      .email{
        margin-top: 20px;
      }
      img{
        width: 250px;
      }
    }
    .title{
      font-size: 64px;
      display: flex;
      justify-content: center;
    }
    .title.right{
      justify-content: center;
      margin-bottom: 40px;
    }
  }
}
}

// ANIMATIONS
@keyframes aliveFooter{
  0%{
    width: 80px
  }
  70%{
    width: 150px;
  }
  100%{
    width: 80px;
  }
}

@keyframes footerFont{
  0%{
    color: $b-lilac-80;
  }
  70%{
    color: $b-lilac-50;
  }
  100%{
    color: $b-lilac-80;
  }
}
