@import url("https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans&family=Rosario&family=Rubik+Moonrocks&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "lib/colors";

@import "Homepage.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  height: auto;
  overflow-x: hidden;
  color: $b-yellow-20;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  text-decoration-color: none;
}

// COMMON
.purple-text-dark {
  color: $b-lilac-30;
}
.purple-text{
  color: $b-lilac-30;
}
p.paragraph-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-900 {
  font-weight: 900;
}
.font-weight-300 {
  font-weight: 300;
}
.section-label{
  font-weight: 300;
  color: $b-blue-30;
  font-size: 14px;
  text-transform: uppercase;
}
.yellow-text{
  color: $b-yellow-50;
}
.heading-text{
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
}

// COMPONENTS
.primary-button{
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  background-color: $b-lilac-40;
  color: $b-lilac-98;
  border-radius:8px;
  outline: none;
  border: none;
  &:hover{
    cursor: pointer;
    background-color: $b-yellow-40;
    color: $b-yellow-98;
  }
}
.secondary-button{
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: $b-sec-40;
  color: $b-sec-98;
  border-radius:8px;
  outline: none;
  border: none;
  &:hover{
    cursor: pointer;
    background-color: $b-yellow-40;
    color: $b-yellow-98;
  }
}
.link-button{
  color: $b-lilac-10;
  font-size: 16px;
  font-weight: 400;
  padding: 14px 2px;
  transition: all 0.3s ease-in;
  outline: none;
  border: none;
  background-color: transparent;
  &:hover{
    color: $b-blue-30;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
  }
}

// PAGES
.Page {
  width: 100%;
  margin: 0 auto;

  .Topbar {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;
    border-bottom: 0.8px solid $b-lilac-95;
    padding: 10px 0px;
    .container {
      grid-column: 2/3;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .logo-section{
        .logo-div{
          width: 80px;
          height: 80px;
          background-image: url('/assets/svg/Logo/Default.svg');
          background-size: 80px;
          background-repeat: no-repeat;
          transition: 0.4s ease-in-out;
          &:hover{
            background-image: url('/assets/svg/Logo/Hovered Variant.svg');
          }
        }
      }
      .navlinks{
        width: 42%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .navlink{
          color: $b-lilac-20;
          font-weight: 400;
          font-size: 16px;
          transition: all 0.3s ease-in;
          &:hover{
            color: $b-blue-30;
            text-decoration: underline;
            font-size: 17px;
          }
        }
      }
    }
  }

  // .Footer{
  //   display: grid;
  //   grid-template-columns: 1fr minmax(0, 1088px) 1fr;

  //   background-color: $b-yellow-0;
  //   .container{
  //     grid-column: 2/3;
  //     width: 100%;

  //     padding: 80px 0;
  //   }
  //   .title{
  //     font-size: 82px;
  //     color: $b-lilac-4;
  //     font-family: 'Lato';
  //   }
  //   .title.right{
  //     display: flex;
  //     justify-content: flex-end;
  //   }
  //   .center{
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-evenly;
  //     align-items: center;
  //     margin: 30px 0;
  //     .email{
  //       font-size: 20px;
  //       color: $b-black-1;
  //       text-decoration: underline;
  //       &:hover{
  //         color: $b-black-0;
  //         font-size: 20.5px;
  //       }
  //     }
  //     .tagline{
  //       font-size: 26px;
  //       color: $b-black-1;
  //     }
  //   }
  // }
}

// MOBILE VIEW
// @media (max-width: 580px) {
//   .Page{
//     .Topbar{
//       .container{
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         align-items: flex-start;
//       }
//       .email-div{
//         display: none;
//       }
//     }
//     .Footer{
//       .container{
//         padding: 60px 0;
//       }
//       .title{
//         font-size: 56px;
//       }
//       .center{
//         display:flex;
//         justify-content: space-between;
//         align-items: center;
//         .email{
//           font-size: 14px;
//           &:hover{
//             font-size:15px;
//           }
//         }
//         .tagline{
//           font-size: 18px;
//         }
//       }
//     }
//   }
// }
