@import "lib/colors";

.ServicesPage{
  display: grid;
  grid-template-columns: 1fr minmax(0, 1088px) 1fr;

  .services-header{
    grid-column: 1/4;
    // background: url("/assets/svg/ServicesPage/Header.svg");
    background-color: $b-blue-10;
    height: auto;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 60px 24%;
        h4{
            margin: 0;
            font-size: 42px;
            line-height: 62px;
            font-weight: 400;
            color: $b-lilac-80;
        }
        p{
            margin-bottom: 40px;
            line-height: 26px;
            color: $b-lilac-95;
        }
    }
  }

  .service-details{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;
    margin-top: 100px;
    .service{
        grid-column: 2/3;
        .wrapper.container{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            &-reverse{
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
            }
        }
        .wrapper{
            padding-bottom: 60px;
            border-bottom: 1px solid $b-blue-60;
            margin-bottom: 80px;
            .content{
                width: 50%;
                .number{
                    font-size: 24px;
                    font-weight: 100;
                    color: $b-blue-90;
                    margin: 0;
                }
                .heading{
                    font-size: 36px;
                    font-weight: 400;
                    color: $b-yellow-80;
                    line-height: 42px;
                    margin-top: 30px;
                }
                p{
                    color: $b-yellow-95;
                    margin-bottom: 50px;
                }
                button{
                    text-decoration: underline;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    text-transform: capitalize;
                    svg{
                        margin-left: 8px;
                    }
                }
            }
            .image{
                width: 45%;
                display: flex;
                align-items: center;
            }
        }
    }
  }

  .the-process{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1088px) 1fr;
    padding: 20px 0;
    .container{
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
    }
    .content{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        h2{
            font-size: 36px;
            font-weight: 400;
            line-height: 44px;
            margin: 0;
            color: $b-yellow-80;
        }
        p{
            width: 90%;
        }
        .image{
            align-self: center;
        }
    }
  }
}